body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}
html{
    height: 100%;
}
footer{
    flex: 1!important;
}

#nav{
    border-radius: 0px!important;
    background: transparent!important;
    border: none!important;
}
.navbar-nav >li > a {
    color: #fff!important;
}
#dash{
    border: 1px solid green;
}